<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<command categoryId="hybris.commands.category"
		         defaultHandler="hybris.handlers.ClasspathFixerHandler"
		         id="hybris.commands.fixClasspath"
		         name="Fix .classpath files">
		</command>
		<command categoryId="hybris.commands.category"
		         defaultHandler="hybris.handlers.ant.AntAllHandler"
		         id="hybris.commands.antCleanAll"
		         name="Ant clean all">
		</command>
		<command categoryId="hybris.commands.category"
		         defaultHandler="hybris.handlers.ant.AntBuildExtensionHandler"
		         id="hybris.commands.andBuildExtension"
		         name="Ant build extension">
		</command>
		<command defaultHandler="hybris.handlers.DebugServerHandler"
		         id="hybris.commands.DebugServer"
		         name="Debug server">
		</command>
		<command id="hybris.commands.CreateExtensionCommand"
		         name="Create hybris extension">
		</command>
	</extension>
	<extension point="org.eclipse.ui.bindings">
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu icon="icons/ECP_logo_temp.gif"
			      id="hybris.menus.hybrisMenu"
			      label="Hybris"
			      mnemonic="Y">
				<command commandId="hybris.commands.fixClasspath"
				         icon="icons/classpath.gif"
				         id="hybris.menus.fixClasspath"
				         label="Fix .classpath files"
				         mnemonic="F">
				</command>
				<command commandId="hybris.commands.antCleanAll"
				         icon="icons/ant.gif"
				         id="hybris.menus.antCleanAll"
				         label="Ant clean all">
				</command>
				<command commandId="hybris.commands.DebugServer"
				         icon="icons/ldebug_obj.gif"
				         label="Debug hybris server"
				         style="push">
				</command>
				<command commandId="org.eclipse.ui.newWizard"
				         icon="icons/newprj_wiz.gif"
				         label="Create hybris extension"
				         style="push">
					<parameter name="newWizardId"
					           value="hybris.wizards.CreateExtensionWizard">
					</parameter>
				</command>
			</menu>
		</menuContribution>

		<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
			<menu label="Hybris" icon="icons/ECP_logo_temp.gif">
				<command commandId="hybris.commands.andBuildExtension"
				         icon="icons/build_exec.gif"
				         id="hybris.menus.andBuildExtension"
				         label="Build extension"
				         style="push">
				</command>
				<visibleWhen>
					<with variable="activeMenuSelection">
						<iterate>
							<adapt type="org.eclipse.jdt.core.IJavaProject" />
						</iterate>
						<count value="1" />
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
			<menu label="Hybris" icon="icons/ECP_logo_temp.gif">
				<command commandId="hybris.commands.andBuildExtension"
				         icon="icons/build_exec.gif"
				         id="hybris.menus.andBuildExtension"
				         label="Build extension"
				         style="push">
				</command>
				<visibleWhen>
					<with variable="activeMenuSelection">
						<iterate>
							<adapt type="org.eclipse.jdt.core.IJavaProject" />
						</iterate>
						<count value="1" />
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>

		<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar id="hybris.toolbars.hybrisToolbar">
			</toolbar>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.importWizards">
		<category id="hybris.importWizards.сategory" name="Hybris">
		</category>
		<wizard category="hybris.importWizards.сategory"
		        class="hybris.wizards.ImportPlatformWizard"
		        icon="icons/ECP_logo_temp.gif"
		        id="hybris.importWizards.ImportHybrisWizard"
		        name="Import hybris platform">
			<description>
            Import a file from the local file system into the workspace.
         </description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	</extension>
	<extension point="org.eclipse.debug.core.launchDelegates">
		<launchDelegate delegate="hybris.example.HybrisServerLaunchDelegate"
		                delegateDescription="Hybris server remote app"
		                id="hybris.launchDelegate1"
		                modes="debug"
		                name="Hybris server"
		                sourceLocatorId="org.eclipse.jdt.debug.ui.javaSourceLocator"
		                sourcePathComputerId="org.eclipse.ant.ui.debug.sourcePathComputer"
		                type="hybris.example.HybrisServerLaunchDelegate">
		</launchDelegate>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabs">
		<tab class="hybris.LaunchConfigurationTab1"
		     group="hybris.launchConfigurationTabGroup1"
		     id="hybris.tab1"
		     name="hybris.tab1">
		</tab>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup class="hybris.AbstractLaunchConfigurationTabGroup1"
		                             id="hybris.launchConfigurationTabGroup1"
		                             type="hybris.launchConfigurationTabGroup1">
			<launchMode mode="debug">
			</launchMode>
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage configTypeID="hybris.example.HybrisServerLaunchDelegate"
		                              icon="icons/ECP_logo_temp.gif"
		                              id="hybris.launchConfigurationTypeImage1">
		</launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType delegate="hybris.example.HybrisServerLaunchDelegate"
		                         delegateDescription="This example tooling will run or debug example code."
		                         delegateName="Hybris Application Launch Tooling"
		                         id="hybris.example.HybrisServerLaunchDelegate"
		                         modes="debug"
		                         name="Hybris project"
		                         public="true"
		                         sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
		                         sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
		                         type="org.eclipse.jdt.launching.localJavaApplication">
		</launchConfigurationType>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="hybris.newExtensionCategory" name="Hybris">
		</category>
		<wizard category="hybris.newExtensionCategory"
		        class="hybris.wizards.CreateExtensionWizard"
		        icon="icons/ECP_logo_temp.gif"
		        id="hybris.wizards.CreateExtensionWizard"
		        name="New extension">
		</wizard>
	</extension>
	<extension point="org.eclipse.debug.ui.consoleLineTrackers">
		<consoleLineTracker class="hybris.ant.AntCommandConsoleTracker"
		                    id="hybris.ant.AntCommandTracker"
		                    processType="hybris.ant.AntCommand">
		</consoleLineTracker>
	</extension>
</plugin>
